/*-----HAUT DE PAGE-----*/

/*-----CONTAINER-----*/
.container{
    background-color: #3E3E3E;
    min-height: 769px;
}

.container_fils{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.container_fils h1{
    text-shadow: -4px 1px 0px rgba(118,0,255,0.69);
    font-size: 8em;
}

.container_fils h4{
    margin-top: 30px;
    padding: 15px;
    background-color: lightgreen;
    color: #3E3E3E;
    transition: transform 500ms;
}

.container_fils h4:hover{
    transform: scale(1.2);
}

.logo{
    margin-top: 25px;
}

.logo img{
    height: 35px;
    width: 35px;
}
/*-----HEADER-----*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    color: white;
    padding-top: 15px;

}
.header a{
    color: white;
}

.header h1{
    font-size: 1.5em;
}

.header h3{
    font-family: 'Tajawal', sans-serif;
}

.header nav{
    display: flex;
    gap: 15px;
    font-size: 1em;
}