@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/*-----------MEDIA QUERIE---------------*/

@media screen and (max-width: 900px){

    .texte{
        flex-direction: column;
    }
}


/*-----------ANIMATION---------------*/

/*-----------VARIABLES---------------*/
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Tilt Warp', cursive;
}
h2,h3,h4{
    font-family: 'Tajawal', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: black;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
}

/*-----HAUT DE PAGE-----*/

/*-----CONTAINER-----*/
.container{
    background-color: #3E3E3E;
    min-height: 769px;
}

.container_fils{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.container_fils h1{
    text-shadow: -4px 1px 0px rgba(118,0,255,0.69);
    font-size: 8em;
}

.container_fils h4{
    margin-top: 30px;
    padding: 15px;
    background-color: lightgreen;
    color: #3E3E3E;
    transition: transform 500ms;
}

.container_fils h4:hover{
    transform: scale(1.2);
}

.logo{
    margin-top: 25px;
}

.logo img{
    height: 35px;
    width: 35px;
}
/*-----HEADER-----*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    color: white;
    padding-top: 15px;

}
.header a{
    color: white;
}

.header h1{
    font-size: 1.5em;
}

.header h3{
    font-family: 'Tajawal', sans-serif;
}

.header nav{
    display: flex;
    gap: 15px;
    font-size: 1em;
}

/*--------INFO PERSO----------*/

.info_perso{
    display: flex;
    flex-direction: column;
    margin: 80px 30px 30px 30px;
}

.info_perso h2{
    font-size: xxx-large;
}

.info_perso h4{
    text-align: center;
}

hr{
    opacity: 0.1;
}

.texte{
    display: flex;
    gap: 30px;
}




/*--------GALERIE----------*/

.titre_galerie{
    text-align: center;
    margin-top: 150px;
}

.titre_galerie h2{
    font-size: xxx-large;
}

.titre_galerie h3{
    font-size: x-large;
    opacity: 0.40;
}



.galerie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1500px;
    margin: 30px auto 0;
}


.projet{
    width: 500px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.projet img{
    width: 100%;
    height: auto;
}

.container_info{
    display: flex;
    position: relative;
    bottom: 4px;
    background: #3E3E3E;
    width: 100%;
    height: 20%;
}

