@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/*-----------VARIABLES---------------*/

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Tilt Warp', cursive;
}
h2,h3,h4{
    font-family: 'Tajawal', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
}

/*-----CONTAINER-----*/
#particles-js{
    background: #031321;
    margin: 0;
    z-index: -1;
    height: 720px;
}

.container_fils{
    top: 5%;
    left: 17%;
    right: 17%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.container_fils h1{
    text-shadow: -4px 1px 0px rgba(118,0,255,0.69);
    font-size: 8em;
}

.container_fils h4{
    margin-top: 30px;
    padding: 15px;
    background-color: lightgreen;
    color: #3E3E3E;
    transition: transform 500ms;
}

.container_fils h4:hover{
    transform: scale(1.2);
}

.logo{
    margin-top: 25px;
}

.logo img{
    height: 65px;
    width: 65px;
}


/*--------INFO PERSO----------*/

hr{
    width: 250px;
    margin-left: 100px;
}


.info_perso{
    display: flex;
    flex-direction: column;
    margin: 80px 30px 30px 30px;
    border-color: #3E3E3E;
}

.info_perso h2{
    margin: 0 100px;
    font-size: xxx-large;
}

.info_perso h4{
    text-align: center;
}


.presentation{
    display: flex;
    flex-direction: row;
    margin: 0 100px;
}

.container_avatar{
    color: white;
    height:270px;
    width: 800px;
    background-color: #3E3E3E;
    border-radius: 15px;
    min-width: 300px;
    margin-left: 100px;
}

.container_avatar img{
    position: relative;
    left: 66px;
    bottom: 80px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: white;
}

.skills{
    margin: auto;
    position: relative;
    height: 60%;
    width: 85%;
    background: crimson;
    bottom: 75px;
}

.skills a{
    position: absolute;
    bottom: 0;
    left: 20%;
    background-color: lightgreen;
    color: #3E3E3E;
    padding: 10px;
    border-radius: 20px;
}



/*--------GALERIE----------*/

.titre_galerie{
    text-align: center;
    margin-top: 150px;
}

.titre_galerie h2{
    font-size: xxx-large;
}

.titre_galerie h3{
    font-size: x-large;
    opacity: 0.40;
}



.galerie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1500px;
    margin: 30px auto 0;
}


.projet{
    width: 500px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.projet img{
    width: 100%;
    height: auto;
}

.container_info{
    display: flex;
    position: relative;
    bottom: 4px;
    background: #3E3E3E;
    width: 100%;
    height: 20%;
    color: white;
    align-items: center;
}

.container_info h3{
    margin-left: 15px;
}

.container_info img{
    position: absolute;
    height:40px;
    width: 40px;
    right: 15px;
    top: 20px;
    background-color: white;
    border-radius: 25px;
}







/*--------FOOTER----------*/

.container_footer{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #3E3E3E;
    padding: 70px 0;
    margin-top: 150px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: lightgreen;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links img{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: all 0.5s ease;
}



/*-----------MEDIA QUERIE---------------*/

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .texte{
        flex-direction: column;
    }

}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}


