@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/*-----------VARIABLES---------------*/

body{
    margin: 0;
    padding: 0;
    z-index: 0;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Tilt Warp', cursive;
}
h2,h3,h4{
    font-family: 'Tajawal', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: black;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
}

/*-----HAUT DE PAGE-----*/

/*-----CONTAINER-----*/
.container{
    background-color: #3E3E3E;
    height: 739px;
}


/*-----HEADER-----*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    color: white;
    padding-top: 15px;

}
.header a{
    color: white;
}

.header h1{
    font-size: x-large;
}

.header h3{
    font-family: 'Tajawal', sans-serif;
}

.header nav{
    display: flex;
    gap: 15px;
}

/*-----CONTAINER TEXT-----*/
.container_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 94%;
    justify-content: center;
    align-items: center;
    color: white;
}

.container_text h1{
    font-size: 120px;
    text-shadow: -4px 1px 0px rgba(118,0,255,0.69);
}

.container_text h4{
    color: black;
    font-size: large;
    background-color: #17ff7e;
    border-radius: 35px;
    margin-top: 80px;
    padding: 10px;
}

.logo{
 margin-top: 25px;
}

.logo img{
    height: 35px;
    width: 35px;
}
/*--------INFO PERSO----------*/

.info_perso{
    display: flex;
    flex-direction: column;
    margin: 80px 30px 30px 30px;
}

.info_perso h2{
    font-size: xxx-large;
}

.info_perso h4{
    text-align: center;
}

hr{
    opacity: 0.1;
}

.texte{
    display: flex;
    gap: 30px;
}




/*--------GALERIE----------*/

.titre_galerie{
    text-align: center;
    margin-top: 150px;
}

.titre_galerie h2{
    font-size: xxx-large;
}

.titre_galerie h3{
    font-size: x-large;
    opacity: 0.40;
}



.galerie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1500px;
    margin: 30px auto 0;
}


.projet{
    width: 500px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.projet img{
    width: 100%;
    height: auto;
}

.container_info{
    display: flex;
    position: relative;
    bottom: 4px;
    background: #3E3E3E;
    width: 100%;
    height: 20%;
}

.container_info img{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 25px;

}
