@import "tailwindcss";

@font-face {
    font-family: 'Visuelt';
    src: url('./assets/VisueltPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #F9F9F9;
    font-family: 'Visuelt', sans-serif;
    color: rgba(255, 255, 255, 0.87);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #213547;
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
    animation: fadeIn 0.8s forwards;
}

.delay-100 { animation-delay: 0.1s; }
.delay-200 { animation-delay: 0.2s; }
.delay-300 { animation-delay: 0.3s; }
.delay-400 { animation-delay: 0.4s; }
.delay-800 { animation-delay: 0.8s; }

html {
    overflow-y: scroll;
}

